*.pyc
*~
*.tar.gz

.project
.cproject
.pydevproject

*.vcproj
*.sln
*.user
*.ncb
*.suo

.lock-waf*
.settings/*

dist/*
build/*
test/build/*
test/reports/*
doc/_build/*
waftools/__pycache__/*


